/* vant自定义样式 */
:root {
  --van-primary-color: #2c3e50;
}
:root:root .van-nav-bar__content {
  background-color: #ee0a24;
}
:root:root .van-nav-bar__content .van-nav-bar__title {
  color: #fff;
}
:root:root .van-nav-bar__content .van-icon {
  color: #fff;
}
:root:root .van-nav-bar__content .van-nav-bar__text {
  color: #fff;
}
:root:root .van-checkbox__icon--checked .van-icon {
  background-color: #ee0a24;
}
:root:root .van-notice-bar {
  background-color: #f6c2c2;
  color: #ee0a24;
}
:root:root .van-stepper--round .van-stepper__minus {
  color: #ee0a24;
  border: 1px solid #ee0a24;
}
:root:root .van-stepper--round .van-stepper__plus {
  background-color: #ee0a24;
  color: #fff;
}
:root:root .van-tab--active {
  color: #ee0a24;
}
:root:root .van-tabs__line {
  background: #ee0a24;
}
