:root:root {
  --system-primary-color: #2097f8;
  --system-primary-text-color: #fff;
  --system-logo-color: #f1f1f1;
  --system-logo-background: #263445;
  --system-menu-text-color: #cddffb;
  --system-menu-background: #cddffb;
  --system-menu-children-background: #381f3d;
  --system-menu-submenu-active-color: #fff;
  --system-menu-hover-background: #cddffb;
  --system-header-background: #fff;
  --system-header-text-color: #303133;
  --system-header-breadcrumb-text-color: #606266;
  --system-header-item-hover-color: rgba(0, 0, 0, 0.06);
  --system-header-border-color: #2097f8;
  --system-header-tab-background: #fff;
  --system-container-background: #cddffb;
  --system-container-main-background: #fff;
  --system-page-background: #fff;
  --system-page-color: #cddffb;
  --system-page-tip-color: rgba(0, 0, 0, 0.45);
  --system-page-border-color: #cddffb;
  --el-color-primary: #2097f8;
  /* 侧边栏文字默认颜色 */
  --el-menu-active-color: #cddffb;
  --el-button-hover-text-color: #cddffb;
  --el-button-text-color: #cddffb;
  --el-button-bg-color: #cddffb;
  --el-button-border-color: #2097f8;
  --el-button-outline-color: #2097f8;
  --el-button-active-color: #2097f8;
  --el-button-hover-text-color: #fff;
  --el-button-hover-link-text-color: #2097f8;
  --el-button-hover-border-color: #2097f8;
  --el-button-active-bg-color: #cddffb;
  --el-button-active-border-color: #2097f8;
  --el-button-disabled-text-color: #fff;
  --el-button-disabled-bg-color: #2097f8;
  --el-button-disabled-border-color: #2097f8;
  --active-color: #333;
  --el-input-focus-border-color: #2097f8;
  --el-button-hover-bg-color: #cddffb;
  --el-color-primary-light-9: #cddffb;
  --el-color-primary-light-8: #cddffb;
  --el-color-primary-light-7: #cddffb;
  --el-color-primary-light-5: #cddffb;
  --el-color-primary-light-3: #cddffb;
  /* 新增样式开始 */
  --el-color-success: #2097f8;
  --el-color-success-light-9: #cddffb;
  --el-color-success-light-8: #cddffb;
  /* 新增样式结束 */
}
.form {
  overflow: hidden;
  margin: auto;
  display: block;
}
.create {
  float: left;
  margin: 10px 30px;
}
/* 鼠标经过按钮背景色修改 */
.el-button.el-button--primary:hover {
  background-color: #2097f8;
  color: #cddffb;
  border: 1px solid #2097f8;
}
.el-button.el-button--primary:hover span {
  color: #fff;
}
.el-button.el-button--primary {
  background-color: #2097f8;
  border: 1px solid #2097f8;
  color: #fff;
}
body #nprogress .bar {
  background-color: #2097f8;
}
body #nprogress .peg {
  box-shadow: 0 0 10px #2097f8, 0 0 5px #2097f8;
}
body #nprogress .spinner-icon {
  border-top-color: #2097f8;
  border-left-color: #2097f8;
}
i,
a,
span {
  outline: none;
}
